@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: rgb(255, 172, 169);
    background: linear-gradient(90deg, rgba(255, 172, 169, 1) 6%, rgba(149, 149, 249, 1) 45%, rgba(0, 212, 255, 1) 100%);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: white;
    box-shadow: 0 0 5px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    width: 400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    border: none;
    border-radius: 3px;
    font: inherit;
    padding: 0.5rem 1rem;
    background-color: #eee;
}

header button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container {
    background-color: #f2e9e9;
    padding: 0.25rem 1rem;
    text-align: center;
    font-weight: bold;
    border: none;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    cursor: pointer;
    position: relative;
    margin: 5px;
    width: 75px;
}
.fav-meals li .clear{
    cursor: pointer;
    opacity: 0;
    background-color: transparent;
    position:absolute;
    top: -0.8rem;
    border: none;
    right: -0.8rem;
    font-size: 1.2rem;
}
.fav-meals li .clear:hover{
    opacity: 1;
}
.fav-meals li img {
    border: 2px solid silver;
    box-shadow: 0 0 5px #3333331a;
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    
    display: inline-block;
    white-space: nowrap;
    font-size: 0.8;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.meal {
    cursor: pointer;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331a;
    overflow: hidden;
}

.meal-header {
    position: relative;

}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: white;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.meal-body h4{
    margin:0;
}
.meal-body .fav-btn{
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-size: 1.2rem;
    border: none;
}
.meal-body .fav-btn.active{
    color: red;
}
.popup-container{
    
    position: fixed;
    background-color: rgb(0, 0, 0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden{
    opacity: 0;
    pointer-events: none;
}

.popup{
    overflow: auto;
    margin: 2rem;
    background-color: white;
    padding: 0 2rem;
    border-radius: 5px;
    position: relative;
    max-height: 100vh;
    max-width: 800px;
    width: 100%;
}

.meal-info h1{
    text-align: center;
}
.popup .close-popup{
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
}